<div class="col-12 col-lg-4 order-1 order-lg-0">
   <div class="block block-sidebar block-sidebar--position--start">
      <div class="block-sidebar__item">
         <div class="widget-search">
            <form class="widget-search__body"><input class="widget-search__input"
                  placeholder="search..." type="text" autocomplete="off" spellcheck="false">
               <button class="widget-search__button" type="submit"><svg width="20px"
                     height="20px">
                     <use xlink:href="images/sprite.svg#search-20"></use>
                  </svg></button></form>
         </div>
      </div>

      <div class="block-sidebar__item">
         <div class="widget-categories widget-categories--location--blog widget">
            <h4 class="widget__title">Options</h4>
            <ul class="widget-categories__list" data-collapse
               data-collapse-opened-class="widget-categories__item--open">
               <li class="widget-categories__item" data-collapse-item>
                  <div class="widget-categories__row"><a href="#"><svg
                           class="widget-categories__arrow" width="6px" height="9px">
                           <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg> Create product</a></div>
               </li>
               <li class="widget-categories__item" data-collapse-item>
                  <div class="widget-categories__row"><a href="#"><svg
                           class="widget-categories__arrow" width="6px" height="9px">
                           <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg> Catagories </a><button class="widget-categories__expander"
                        type="button" data-collapse-trigger></button></div>
                  <div class="widget-categories__subs" data-collapse-content>
                     <ul>
                        <li><a href="#">Sub -category</a></li>
                        <li><a href="#">Main category</a></li>
                      
                     </ul>
                  </div>
               </li>
               <li class="widget-categories__item" data-collapse-item>
                  <div class="widget-categories__row"><a href="#"><svg
                           class="widget-categories__arrow" width="6px" height="9px">
                           <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg> New Arrivals</a></div>
               </li>
              
              
            </ul>
         </div>
      </div>

   </div>
</div>